body {
  padding: 0;
  margin: 0;
  background-color: #1E1E24;
  text-align: center;
}

.jumbotron {
  background-image: url("https://wallpaperscraft.com/image/gorilla_shadow_sit_72347_1600x1200.jpg");
  height: 400px;
  background-position: top center;
  width: auto;
}

h1 {
  color: #FFF;
  font-family: 'Ruda', sans-serif;
  font-size: 70px;
  font-weight: 900;
  margin: 0;
  padding-top: 120px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: #FFF;
  font-family: 'Catamaran', sans-serif;
  margin: 0;
  text-align: left;
}

h3 {
  color: #D7263D;
  font-family: 'Ruda', sans-serif;
  font-size: 32px;
  margin: 0;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}

p {
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Pontano Sans', sans-serif;
  margin: 0;
  text-align: left;
}

.char {
  margin: 60px auto;
  padding: 10px 0px 0px 0px;
  width: 90%;
}

.char-img {
  display: inline-block;
  margin-top: 20px;
}

.char-description {
  display: inline-block;
  width: 70%;
}

.book {
  margin-top: 30px;
  width: 100%;
}

a {
  background-color: #D7263D;
  color: #FFF;
  display: block;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 16px;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  padding: 0;
  margin: 10px 0px;
}

li {
  margin: 0;
  list-style: none;
}
footer {
  text-align: center;
}
